/*
  Importing global.css to use :root customs
*/

.quoteCss {
  position: absolute;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  /* top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); */
  font-size: calc(var(--font-size) - 13px);
  font-weight: calc(var(--font-weight) - 500);
  color: var(--color);
  text-align: center;
  font-style: italic;
  letter-spacing: var(--letter-spacing);
  margin-bottom: var(--component-margin-bottom);
  transition: var(--component-transition);
}
.quoteCss:hover {
  background: red;
}

.quoteContent::before {
  content: open-quote;
}
.quoteContent::after {
  content: close-quote;
}

@media only screen and (max-width: 650px) {
  .quoteCss {
    font-size: calc(var(--font-size) - 16px);
    font-weight: 100;
    margin-bottom: calc(var(--component-margin-bottom) + 35px);
  }
}
